# LOOPS

## for

for i in iterable:
    body

In [2]:
for i in "techpro":
    print(i)

t
e
c
h
p
r
o

In [3]:
for i in [1,2,3,4,5]:
    print(i ** 2)

1
4
9
16
25

In [5]:
liste = [1,2,3,4,5]

x = 0

while x < len(liste):

    print(liste[x] ** 2)

    x += 1

1
4
9
16
25

In [6]:
for i in (1,2,3,4,5):
    print(i ** 2)

1
4
9
16
25

In [7]:
for i in 1536:
    print(i ** 2)

TypeError: 'int' object is not iterable

In [8]:
for i in ["ahmet", "nazım", "ali", "ömer"]:
    print(i.capitalize())

Ahmet
Nazım
Ali
Ömer

In [9]:
for i in ["ahmet", "nazım", "ali", "ömer"]:
    print(i.capitalize(),end="*")

Ahmet*Nazım*Ali*Ömer*

"Techpro"

"T-e-c-h-p-r-o"

In [10]:
print("ahmet", "mehmet", "ali", sep="-")

ahmet-mehmet-ali

In [11]:
for i in "Techpro":
    print((i), end = "-")

T-e-c-h-p-r-o-

"Techpro"

"T-e-c-h-p-r-o"

In [14]:
empty_str = ""

for i in "techpro":
    empty_str += i + "-"
empty_str.strip("-")

't-e-c-h-p-r-o'

In [15]:
"".join("techpro")

'techpro'

In [16]:
"-".join("techpro")

't-e-c-h-p-r-o'

In [17]:
dict_1 = {"name": "Yusif", "surname": "Ahmadov", "age": 26}
dict_1

{'name': 'Yusif', 'surname': 'Ahmadov', 'age': 26}

In [18]:
for i in dict_1:
    print(i)

name
surname
age

In [19]:
dict_1.values()

dict_values(['Yusif', 'Ahmadov', 26])

In [20]:
for i in dict_1.values():
    print(i)

Yusif
Ahmadov
26

In [21]:
dict_1.items()

dict_items([('name', 'Yusif'), ('surname', 'Ahmadov'), ('age', 26)])

In [22]:
for i in dict_1.items():
    print(i)

('name', 'Yusif')
('surname', 'Ahmadov')
('age', 26)

In [23]:
for i, j in dict_1.items():
    print(f"key: {i}, value: {j}")

key: name, value: Yusif
key: surname, value: Ahmadov
key: age, value: 26

In [24]:
for i, j in dict_1.items():
    print(f"key: {i:<10}, value: {j}")

key: name      , value: Yusif
key: surname   , value: Ahmadov
key: age       , value: 26

In [25]:
for i, j in dict_1.items():
    print(f"key: {i:>10}, value: {j}")

key:       name, value: Yusif
key:    surname, value: Ahmadov
key:        age, value: 26

In [26]:
for i, j in dict_1.items():
    print(f"key: {i:^10}, value: {j:^10}")

key:    name   , value:   Yusif
key:  surname  , value:  Ahmadov
key:    age    , value:     26

In [30]:
for i,j,k in [("ali", "data_scientist", 26), ("veli", "python_develeoper", 28)]:
    print(f"i:{i},j:{j},k:{k}")

i:ali,j:data_scientist,k:26
i:veli,j:python_develeoper,k:28

In [31]:
for i, j, k in [("ali", "data_scientist", 26), ("veli", "python_develeoper")]:
    print(f"i:{i},j:{j},k:{k}")

i:ali,j:data_scientist,k:26

ValueError: not enough values to unpack (expected 3, got 2)

In [32]:
for i, j, k in [("ali", "data_scientist"), ("veli", "python_develeoper")]:
    print(f"i:{i},j:{j},k:{k}")

ValueError: not enough values to unpack (expected 3, got 2)

In [33]:
for i in True:
    print(i)

TypeError: 'bool' object is not iterable

In [ ]:
# sonsuz döngü çalıştırma!
liste_1 = ["sonsuz döngü"]

for i in liste_1:
    print(i)
    liste_1.append(i)

In [2]:
for i in range(1,51):
    print(f"{i:<3} - Hoca bize ceza verdi ")

1   - Hoca bize ceza verdi
2   - Hoca bize ceza verdi
3   - Hoca bize ceza verdi
4   - Hoca bize ceza verdi
5   - Hoca bize ceza verdi
6   - Hoca bize ceza verdi
7   - Hoca bize ceza verdi
8   - Hoca bize ceza verdi
9   - Hoca bize ceza verdi
10  - Hoca bize ceza verdi
11  - Hoca bize ceza verdi
12  - Hoca bize ceza verdi
13  - Hoca bize ceza verdi
14  - Hoca bize ceza verdi
15  - Hoca bize ceza verdi
16  - Hoca bize ceza verdi
17  - Hoca bize ceza verdi
18  - Hoca bize ceza verdi
19  - Hoca bize ceza verdi
20  - Hoca bize ceza verdi
21  - Hoca bize ceza verdi
22  - Hoca bize ceza verdi
23  - Hoca bize ceza verdi
24  - Hoca bize ceza verdi
25  - Hoca bize ceza verdi
26  - Hoca bize ceza verdi
27  - Hoca bize ceza verdi
28  - Hoca bize ceza verdi
29  - Hoca bize ceza verdi
30  - Hoca bize ceza verdi
31  - Hoca bize ceza verdi
32  - Hoca bize ceza verdi
33  - Hoca bize ceza verdi
34  - Hoca bize ceza verdi
35  - Hoca bize ceza verdi
36  - Hoca bize ceza verdi
37  - Hoca bize ceza verdi
38  - Hoca bize ceza verdi
39  - Hoca bize ceza verdi
40  - Hoca bize ceza verdi
41  - Hoca bize ceza verdi
42  - Hoca bize ceza verdi
43  - Hoca bize ceza verdi
44  - Hoca bize ceza verdi
45  - Hoca bize ceza verdi
46  - Hoca bize ceza verdi
47  - Hoca bize ceza verdi
48  - Hoca bize ceza verdi
49  - Hoca bize ceza verdi
50  - Hoca bize ceza verdi

kulanıcan bir sayı isteyin ve çarpım tablosu oluşturun

In [6]:
number = int(input("1 ile 9 arasında bir sayı girin(1 ve 9 dahil)"))

if 1 <= number <= 9:

    for i in range(1,11):
        print(f"{number} x {i:<2} = {number * i}")

else:
    print("1 ile 9 arasında bir sayı girmediniz.")

7 x 1  = 7
7 x 2  = 14
7 x 3  = 21
7 x 4  = 28
7 x 5  = 35
7 x 6  = 42
7 x 7  = 49
7 x 8  = 56
7 x 9  = 63
7 x 10 = 70

In [2]:
#sonsuz deneme hakkı olan kodlar.
while True:

    number = int(input("1 ile 9 arasında bir sayı girin(1 ve 9 dahil)"))

    if 1 <= number <= 9:

        for i in range(1,11):
            print(f"{number} x {i:<2} = {number * i}")
        
        break

    else:
        print("1 ile 9 arasında bir sayı girmediniz. Tekrar bir sayı girin")

8 x 1  = 8
8 x 2  = 16
8 x 3  = 24
8 x 4  = 32
8 x 5  = 40
8 x 6  = 48
8 x 7  = 56
8 x 8  = 64
8 x 9  = 72
8 x 10 = 80

In [ ]:
#3 deneme hakkı olan kodlar.
deneme_sayısı = 0

while deneme_sayısı < 3:
    deneme_sayısı += 1
    
    number = int(input("1 ile 9 arasında bir sayı girin(1 ve 9 dahil)"))

    if 1 <= number <= 9:

        for i in range(1,11):
            print(f"{number} x {i:<2} = {number * i}")
        
        break

    else:
        print("1 ile 9 arasında bir sayı girmediniz. Tekrar bir sayı girin")

In [3]:
#çalıştırma. break for döngüsünü durdurur. while sonsuza devam eder. 
while True:

    number = int(input("1 ile 9 arasında bir sayı girin(1 ve 9 dahil)"))

    if 1 <= number <= 9:

        for i in range(1,11):
            print(f"{number} x {i:<2} = {number * i}")
        
            break

    else:
        print("1 ile 9 arasında bir sayı girmediniz. Tekrar bir sayı girin")

8 x 1  = 8
8 x 1  = 8
7 x 1  = 7

1 den 50(50 dahil) ye kadar olan sayıların toplamını bulan python kodunu yazınız.

In [1]:
sum(range(1,51))

1275

In [2]:
total = 0

for i in range(1,51):
    total += i

print(total)

1275

In [ ]:
(n * (n + 1)) / 2

In [4]:
(50 * (50 + 1)) / 2

1275.0

In [5]:
sum([1,2,3,4,5])

15

In [6]:
sum([1,2,3,4,5],100)

115

In [7]:
sum({1,2,3,4,5},100)

115

In [8]:
sum(range(1,51,2)) # tek sayılar toplamı

625

In [9]:
sum(range(2,51,2)) # çift sayıların toplamı.

650

In [11]:
çiftler_toplamı = 0

for i in range(1,51):
    if i % 2 == 0:
        çiftler_toplamı += i
print(çiftler_toplamı)

650

In [ ]:
çiftler_toplamı = 0

for i in range(1,51):
    if i % 2 == 0:
        çiftler_toplamı += i
        
    print(çiftler_toplamı)

In [ ]:
çiftler_toplamı = 0

for i in range(1,51):
    if i % 2 == 0:
        çiftler_toplamı += i
        print(çiftler_toplamı)

# break, continue

In [14]:
liste_2 = [1, 2, 3, 4, 5]
liste_2

[1, 2, 3, 4, 5]

In [16]:
for i in liste_2:
    
    if i % 3 == 0:
        break
    else:
        print(i ** 2)

1
4

In [17]:
for i in liste_2:
    
    if i % 3 == 0:
        continue
    else:
        print(i ** 2)

1
4
16
25

1 den 9 a kadar (9 dahil) sayıların toplamını bulun(5 ve 5 in katları hariç)

In [18]:
toplam = 0

for i in range(1,10):

    toplam += i
toplam

45

In [19]:
toplam = 0

for i in range(1,10):

    if i % 5 == 0:
        continue
    
    toplam += i
toplam

40

In [23]:
toplam = 0

for i in range(1,51):

    if i % 2 == 1:
        continue
    toplam += i
print(toplam)

650

sayılar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

In [26]:
sayılar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

odds = []
evens = []

for i in sayılar_listesi:

    if i % 2:
        odds.append(i)
    else:
        evens.append(i)

print(f"tek sayılar: {odds}")
print(f"çift sayılar: {evens}")

tek sayılar: [1, 15, 5, 89, 45, 71, 45, 95, 61]
çift sayılar: [2, 36, 62, 52, 30, 56, 48]

Bir markete gittiniz. Markette her ürünün bir kod numarası var.
1 : Elma 2 : Portakal 3 : Çilek 4 : Yumurta 5 : Havuç 6 : Armut ... vs. şeklinde.
Kullanıcıya almak istediği ürünü sorunuz ve kod numarası ile seçim yaptırınız. Çıkış için "q" opsiyonunu sununuz. Kullanıcının her ürün seçimi sonrası " .... elma sepete eklendi" gibi bir dönüt veriniz. Kullanıcı ürün almaya devam ettikçe ürünleri bir listede toplayınız, almaktan vazgeçtiği durumda teşekkür edip, aldığı toplam ürünleri çıktı veren bir kod yazınız.
Çıktı:
Teşekkür Ederiz...
Sepetinizde Bulunan Ürünler: elma, armut, yumurta ... vs.

1 >>> Elma     
2 >>> Portakal
3 >>> Çilek
4 >>> Yumurta
5 >>> Havuç
6 >>> Armut
Yumurta sepete eklendi.
Portakal sepete eklendi.
Bizi tercih ettiğiniz için teşekkürler. Yine bekleriz.
Almış olduğunuz ürünler: ['Yumurta', 'Portakal']