# Type Conversion

### all types to str

In [ ]:
"Techpro education"

In [1]:
age = 32
str(age)
type(age)

In [2]:
type(age)

int

In [3]:
str(age)

'32'

In [5]:
type(age)

int

In [6]:
age = str(age)

In [7]:
type(age)

str

In [8]:
pi_number = 3.14

In [9]:
type(pi_number)

float

In [10]:
str(pi_number)

'3.14'

In [11]:
pi_number = str(pi_number)

In [12]:
type(pi_number)

str

In [13]:
pi_number

'3.14'

In [14]:
print(pi_number)

3.14

In [15]:
x = False
y = True

In [16]:
str(x)

'False'

In [17]:
type(x)

bool

In [18]:
x = str(x)

In [19]:
type(x)

str

### str to int

In [23]:
age_1 = "32"

In [24]:
type(age_1)

str

In [25]:
int(age_1)

32

In [26]:
age_1 = int(age_1)

In [27]:
type(age_1)

int

In [22]:
int("32a")

ValueError: invalid literal for int() with base 10: '32a'

### str to float

In [29]:
pi_number_1 = "3.14"

In [30]:
type(pi_number_1)

str

In [31]:
float(pi_number_1)

3.14

In [32]:
pi_num = float(pi_number_1)

In [34]:
type(pi_num)

float

In [35]:
float("3.15a")

ValueError: could not convert string to float: '3.15a'

### int to float
### float to int

In [37]:
age_2 = 35

In [38]:
float(age_2)

35.0

In [39]:
float(0)

0.0

In [41]:
float_sayı = 5.8

In [42]:
int(float_sayı)

5

In [43]:
int(5.999999)

5

In [48]:
int("3.14")

ValueError: invalid literal for int() with base 10: '3.14'

In [51]:
float("3.14")

3.14

In [50]:
int(float("3.14"))

3

### bool to int
### bool to float

In [52]:
print(x)
print(y)

False
True

In [54]:
x

'False'

In [59]:
type(x)

str

In [57]:
type(y)

bool

In [55]:
y

True

In [53]:
int(x)

ValueError: invalid literal for int() with base 10: 'False'

In [60]:
z = True
w = False

In [61]:
int(z)

1

In [62]:
int(w)

0

In [63]:
float(z)

1.0

In [64]:
float(w)

0.0

# Arithmetic Operations

In [66]:
3 + 5

8

In [67]:
9 - 4

5

In [68]:
8 * 5

40

In [69]:
40 / 10

4.0

In [70]:
40 / 7

5.714285714285714

In [71]:
2.4 * 5

12.0

In [72]:
25 / 3 # division

8.333333333333334

In [73]:
25 // 3 # floor division

8

In [74]:
25 % 3 # modulus

1

In [76]:
2 ** 5 # üs alma işlemi

32

In [77]:
5 ** 3 # 5 * 5 * 5

125

In [78]:
25 ** 0.5

5.0

In [79]:
64 ** (1 / 3)

3.9999999999999996

In [80]:
int(64 ** (1 / 3))

3

In [86]:
int(3.9999999999999999)

4

In [87]:
x = (4 + 7) ** (4 ** (1 * 2 / 2) / 2)
print(x)

121.0

### yarıçapı 7 olan bir dairenin alanını bulan python kodunu yazın. pi = 3.14

In [88]:
r = 7
pi = 3.14
alan = pi * r ** 2

print("Dairenin alanı: ", alan)

Dairenin alanı:  153.86

In [89]:
y = (2 * 6 / 4) ** (5 * (21 // 4) - 23)
print(y)

9.0

In [1]:
x = 5

In [4]:
x = x + 6
print(x)

23

In [96]:
x += 6 # x = x + 6
print(x)

41

In [98]:
x = x - 4
print(x)

33

In [100]:
x -= 4
print(x)

25

In [102]:
x = 6
x *= 2
print(x)

100

In [104]:
x /= 4
print(x)

6.25

In [107]:
x **= 2
print(x)

2328306.4365386963

In [110]:
y = 7 # 3 kere çalıştırınca sonuç ne olur?
y += 5
print(y)

# her seferinde y değişkeninin yeniden aynı değer olarak tanımlar. bu yüzden sonuç değişmez.

12

In [111]:
y = 7

In [114]:
# 3 kere çalıştırınca sonuç ne olur?
y += 5
print(y)

22

### bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenüsünü bulan python kodunu yazın.