# filter()

In [2]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [3]:
filter(None, "hello")

In [4]:
list(filter(None, "hello"))

['h', 'e', 'l', 'l', 'o']

In [6]:
list(filter(None, [1, 2, 0, "", 3.14, True, False, ()]))

[1, 2, 3.14, True]

In [7]:
def tek_sayı_bulucu(x):

    if x % 2 == 1:
        return True
    else: 
        return False

In [8]:
tek_sayı_bulucu(9)

True

In [9]:
tek_sayı_bulucu(8)

False

In [10]:
tuple(filter(tek_sayı_bulucu, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

(1, 3, 5, 7, 9)

In [11]:
list(filter(len, ["sedat","techpro", "", "inci"]))

['sedat', 'techpro', 'inci']

In [ ]:
["sedat", "techpro", "ali", "hüma","nazım", "ersin"]

In [12]:
def len_5(x):
    if len(x) == 5:
        return True
    else:
        return False

In [13]:
len_5("techpro")

False

In [14]:
len_5("nazım")

True

In [15]:
set(filter(len_5, ["sedat", "techpro", "ali", "hüma","nazım", "ersin"]))

{'ersin', 'nazım', 'sedat'}

In [16]:
def find_armstrong(sayı):

    sayı = str(sayı)

    basamak_sayısı = len(sayı)

    toplam = 0

    for i in sayı:

        toplam += int(i) ** basamak_sayısı # toplam = toplam + int(i) ** basamak_sayısı


    if toplam == int(sayı):
        return True
    else:
        return False

In [19]:
find_armstrong(407)

True

In [23]:
list(filter(find_armstrong, range(11,1000000)))

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084, 548834]

In [24]:
list(filter(find_armstrong, 11))

TypeError: 'int' object is not iterable

# lambda()

In [25]:
def kareler_toplamı(x, y):
    return x **2 + y ** 2

In [26]:
kareler_toplamı(3,4)

25

In [27]:
lambda x, y: x ** 2 + y ** 2

In [29]:
(lambda x, y: x ** 2 + y ** 2)(3,4)

25

In [31]:
(lambda x, y: (x ** 2 + y ** 2) ** 0.5) (3,4)

5.0

In [33]:
(lambda x, y: int((x ** 2 + y ** 2) ** 0.5)) (3,4)

5

In [34]:
(lambda x: len(x) == 5)("sedat")

True

In [35]:
(lambda x: len(x) == 5)("enejan")

False

In [36]:
list(filter(lambda x: len(x) == 5, ["sedat", "techpro", "ali", "hüma","nazım", "ersin"]))

['sedat', 'nazım', 'ersin']

In [37]:
(lambda x: x[::-1])("sedat")

'tades'

In [38]:
(lambda x: x[::-1])("ey edip adanada pide ye")

'ey edip adanada pide ye'

In [41]:
isimler_listesi = ["ece", "sedat", "inci", "ey edip adanada pide ye", "nazan"]

In [39]:
(lambda x: x[::-1] == x)("nazan")

True

In [40]:
(lambda x: x[::-1] == x)("sedat")

False

In [42]:
list(filter(lambda x: x[::-1] == x, isimler_listesi))

['ece', 'ey edip adanada pide ye', 'nazan']

In [1]:
import pandas as pd

In [46]:
pip install pandas

Requirement already satisfied: pandas in c:\users\a\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\a\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\a\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\a\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\a\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
!pip install pandas

In [ ]:
conda install pandas

In [3]:
df = pd.read_csv("adult_eda.csv")

In [4]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [6]:
df.sex.apply(lambda x: 0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [10]:
sayılar_listesi = [4,56,84,25,35,14,7,8,24,15]

In [8]:
(lambda x: x % 2)(23)

1

In [11]:
list(filter(lambda x: x % 2, sayılar_listesi))

[25, 35, 7, 15]

In [12]:
(lambda x,y : (x ** 2 + y ** 2) ** 0.5)(3,4)

5.0

In [13]:
hypo = lambda x,y : (x ** 2 + y ** 2) ** 0.5

In [14]:
hypo(5,12)

13.0

# map()

In [15]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [27]:
def sayının_karesi(x):

    return x ** 2

In [28]:
sayının_karesi(8)

64

In [29]:
sayılar_listesi = [1,4,6,5,2,3,8,9,7]

In [32]:
map(sayının_karesi, sayılar_listesi )

In [33]:
list(map(sayının_karesi, sayılar_listesi ))

[1, 16, 36, 25, 4, 9, 64, 81, 49]

In [35]:
isimler_listesi = ["techpro", "education", "Tahira", "Hava"]

In [37]:
list(map(len, isimler_listesi))

[7, 9, 6, 4]

In [38]:
sayılar_listesi

[1, 4, 6, 5, 2, 3, 8, 9, 7]

In [42]:
def tek_çift(* x):

    result = []
    for i in x:
        if i % 2 == 1:
            result.append(i ** 2)
        else:
            result.append(i)

    return result

In [43]:
tek_çift(1,2,3,4,5,6,7,8,9)

[1, 2, 9, 4, 25, 6, 49, 8, 81]

In [47]:
(lambda x: x ** 2 if x % 2 == 1 else x)(8)

8

In [48]:
(lambda x: x ** 2 if x % 2 == 1 else x)(7)

49

In [46]:
list(map(lambda x: x ** 2 if x % 2 else x, [1,2,3,4,5,6,7,8,9] ))

[1, 2, 9, 4, 25, 6, 49, 8, 81]

In [49]:
tuple(map(lambda x: x ** 2 if x % 2 else x, [1,2,3,4,5,6,7,8,9] ))

(1, 2, 9, 4, 25, 6, 49, 8, 81)

In [50]:
set(map(lambda x: x ** 2 if x % 2 else x, [1,2,3,4,5,6,7,8,9] ))

{1, 2, 4, 6, 8, 9, 25, 49, 81}

In [51]:
dict(map(lambda x: x ** 2 if x % 2 else x, [1,2,3,4,5,6,7,8,9] ))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

## faktöriyel hesaplama

5! >> 5 * 4 * 3 * 2 * 1
3! >> 3 * 2 * 1

In [52]:
def fact_for(x):

    factoriel = 1
    for i in range(1,x+1):
        factoriel *= i

    return factoriel

In [58]:
fact_for(0)

1

In [59]:
def fact_recursive(x):

    if x == 0:
        return 1
    
    return x * fact_recursive(x - 1)

In [60]:
fact_recursive(5)

120

In [ ]:
fact_recursive(-5)

: