### bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenüsünü bulan python kodunu yazın.

a = 5
b = 12
h = ?

h ** 2 = a ** 2 + b ** 2

In [1]:
a = 5
b = 12
h = (a ** 2 + b ** 2) ** 0.5

print("hypo:", h)

hypo: 13.0

In [5]:
a = 5
b = 12
h = (a ** 2 + b ** 2) ** 0.5

print("hypo:", (h))

hypo: 13.0

# print() function

In [6]:
print("Techpro education")

Techpro education

In [7]:
print("Ali", "Ömer", "Yusuf")

Ali Ömer Yusuf

In [8]:
print("Ali", "Ömer", "Yusuf",sep= "*")

Ali*Ömer*Yusuf

In [9]:
print("Ali", "Ömer", "Yusuf",sep= "?")

Ali?Ömer?Yusuf

In [10]:
print("Ali", "Ömer", "Yusuf",sep= "")

AliÖmerYusuf

In [11]:
print("Ali", "Ömer", "Yusuf",sep= ",")

Ali,Ömer,Yusuf

In [12]:
print("Ali", "Ömer", "Yusuf",sep= ,)

SyntaxError: invalid syntax (2056811890.py, line 1)

In [ ]:
print()

In [15]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [17]:
print("Ayşe")
print("Süha")

Ayşe
Süha

In [18]:
print("Ayşe", end="*")
print("Süha")

Ayşe*Süha

In [19]:
print("ali")
print("yusuf")
print("hava")

ali
yusuf
hava

In [20]:
print("ali",end = "!")
print("yusuf",end = "*")
print("hava")

ali!yusuf*hava

In [21]:
print("Ali", "Ömer", "Yusuf", sep= "\n")

Ali
Ömer
Yusuf

In [23]:
Ali = "Ali"

In [24]:
print(Ali, Ömer, Yusuf, sep= "\n")

NameError: name 'Ömer' is not defined

In [25]:
print("hello world", end= "--")
print("35", 40, "75",sep= "**")
print("son satır")

hello world--35**40**75
son satır

In [26]:
print(35)

35

In [27]:
print("35")

35

In [29]:
aa = "35"
bb = 35

In [30]:
print(aa)

35

In [31]:
print(bb)

35

In [32]:
type(aa)

str

In [33]:
type(bb)

int

# input()

In [ ]:
input()

In [43]:
input()

'32'

In [44]:
input("Lütfen yaşınızı girin")

'32'

In [51]:
age = input("Lütfen yaşınızı girin")

In [52]:
print(age)

35

In [53]:
type(age)

str

In [48]:
age = int(age)

In [49]:
type(age)

int

In [55]:
input()

'32'

In [60]:
name = input("Lütfen isminizi girin.")

In [61]:
name

'sedat'

In [66]:
age_1 = input("Lütfen yaşınızı girin")
age_1 = int(age_1)
print(age_1)
print(type(age_1))

32
<class 'int'>

In [67]:
age_2 = input("Lütfen yaşınızı girin")
age_2 = int(age_2)
print(age_2)
print(type(age_2))

ValueError: invalid literal for int() with base 10: 'otuziki'

In [63]:
type(age_1)

int

Kullanıcıdan kilo ve boy bilgisini alan ve girilen bilgilere göre vücut kitle indeksini(vki) hesaplayan kodu yazın

In [68]:
kilo = input("Lütfen kilonuzu kg cinsinden giriniz. Örn: 83.5")
boy = input("Lütfen boy bilginizi metre cinsinde giriniz. Örn: 1.77")

vki = kilo / (boy ** 2)

print(vki)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [69]:
kilo = input("Lütfen kilonuzu kg cinsinden giriniz. Örn: 83.5")
boy = input("Lütfen boy bilginizi metre cinsinde giriniz. Örn: 1.77")

kilo = float(kilo)
boy = float(boy)

vki = kilo / (boy ** 2)

print(vki)

29.51016285822497

In [70]:
kilo = float(input("Lütfen kilonuzu kg cinsinden giriniz. Örn: 83.5"))
boy = float(input("Lütfen boy bilginizi metre cinsinde giriniz. Örn: 1.77"))

vki = kilo / (boy ** 2)

print("Vücut kitle endeksiniz: ",vki)

Vücut kitle endeksiniz:  29.51016285822497

# Escape Sequences

In [71]:
print('I'm a python teacher')

SyntaxError: unterminated string literal (detected at line 1) (256345490.py, line 1)

In [72]:
print("I'm a python teacher")

I'm a python teacher

In [73]:
print('I\'m a python teacher')

I'm a python teacher

In [74]:
print("Bu ders çok uzadı sanki. Bi an önce bitse")

Bu ders çok uzadı sanki. Bi an önce bitse

In [75]:
print("Bu ders çok uzadı sanki.\nBi an önce bitse") # \n

Bu ders çok uzadı sanki.
Bi an önce bitse

In [78]:
print("Ali", "Sami", "Sedat")

Ali Sami Sedat

In [77]:
print("Ali", "Sami", "Sedat", sep= "\n")

Ali
Sami
Sedat

In [79]:
print("Ali", "Sami", "Sedat", sep= "\t")

Ali	Sami	Sedat

In [80]:
print("Bu ders çok uzadı sanki.\tBi an önce bitse") # \t

Bu ders çok uzadı sanki.	Bi an önce bitse

In [81]:
print("Bu ders çok uzadı sanki!\bBi an önce bitse") # \b

Bu ders çok uzadı sankiBi an önce bitse

In [84]:
print("Bu ders çok uzadı sanki!\b\bBi an önce bitse")

Bu ders çok uzadı sankBi an önce bitse

In [85]:
print("Ali", "Sami", "Sedat", sep= "\b")

AlSamSedat

In [87]:
name1 = "Ali K"
name2 = "Sedat A"
name3 = "Sami B"

In [88]:
print(name1,end="\b")

Ali

In [89]:
name1

'Ali K'

In [90]:
print("Ali", "Sami", "Sedat", sep= "\b")

AlSamSedat

In [92]:
print("Bizde geri\nvites olmaz")

Bizde geri
vites olmaz

In [93]:
print(r"Bizde geri\nvites olmaz")

Bizde geri\nvites olmaz

Kullanıcıdan Celcius bilgisini alın ve fahrenheit a çevirin.