Bir markete gittiniz. Markette her ürünün bir kod numarası var.
1 : Elma 2 : Portakal 3 : Çilek 4 : Yumurta 5 : Havuç 6 : Armut ... vs. şeklinde.
Kullanıcıya almak istediği ürünü sorunuz ve kod numarası ile seçim yaptırınız. Çıkış için "q" opsiyonunu sununuz. Kullanıcının her ürün seçimi sonrası " .... elma sepete eklendi" gibi bir dönüt veriniz. Kullanıcı ürün almaya devam ettikçe ürünleri bir listede toplayınız, almaktan vazgeçtiği durumda teşekkür edip, aldığı toplam ürünleri çıktı veren bir kod yazınız.
Çıktı:
Teşekkür Ederiz...
Sepetinizde Bulunan Ürünler: elma, armut, yumurta ... vs.

In [10]:
ürünler[2]

'Portakal'

In [9]:
ürünler = {1 : "Elma", 2 : "Portakal", 3 : "Çilek", 4 : "Yumurta", 5 : "Havuç", 6 : "Armut"}

print("""
1 >>>> Elma
2 >>>> Portakal
3 >>>> Çilek
4 >>>> Yumurta
5 >>>> Havuç
6 >>>> Armut
""")

sepet = []

while True:

    x = input("Almak istediğiniz ürünün kodunu girin. Sepete daha fazla ürün eklemek istemediğinizde 'q' tuşuna basınız").lower()

    if x != "q":
        sepet.append(ürünler[int(x)])
        print(f"Sepete {sepet[-1]} eklendi.")
    elif x == "q" or x == "Q":
        print("Bzizi tercih ettiğiniz için teşekkürler.")
        print(f"Almış olduğunuz ürünler {sepet}")
        break

1 >>>> Elma
2 >>>> Portakal
3 >>>> Çilek
4 >>>> Yumurta
5 >>>> Havuç
6 >>>> Armut

Sepete Elma eklendi.
Sepete Elma eklendi.
Bzizi tercih ettiğiniz için teşekkürler.
Almış olduğunuz ürünler ['Elma', 'Elma']

## zip()

In [11]:
a = ["apple", "orange", "lemon"]
b = [1,2,3]

In [12]:
zip(a,b)

In [13]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [14]:
x = "Techpro"
y = "Nazım"
z = "Ece"

In [15]:
list(zip(x,y,z))

[('T', 'N', 'E'), ('e', 'a', 'c'), ('c', 'z', 'e')]

In [ ]:
a = ["apple", "orange", "lemon"]
b = [1,2,3]

In [16]:
tuple(zip(b,a))

((1, 'apple'), (2, 'orange'), (3, 'lemon'))

In [17]:
dict(zip(b,a))

{1: 'apple', 2: 'orange', 3: 'lemon'}

In [18]:
set(zip(b,a))

{(1, 'apple'), (2, 'orange'), (3, 'lemon')}

In [19]:
name = ["mehmet", "murat", "nazlı"]
age = [26,32,28]
job = ["data_scientist", "python_developer", "data_analyst"]

In [20]:
list(zip(name,age,job))

[('mehmet', 26, 'data_scientist'),
 ('murat', 32, 'python_developer'),
 ('nazlı', 28, 'data_analyst')]

In [22]:
for i, j, k in zip(name,age,job):

    print(f"{i:^10},{j:^10},{k:^15}")

  mehmet  ,    26    ,data_scientist
  murat   ,    32    ,python_developer
  nazlı   ,    28    , data_analyst

In [24]:
for i, j in zip(name,age,job):

    print(f"{i:^10},{j:^10}")

ValueError: too many values to unpack (expected 2)

In [23]:
dict(zip(name,age,job))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [27]:
liste_1 = "techpro is the best".split()
liste_1

['techpro', 'is', 'the', 'best']

In [28]:
sayı_listesi = [1,2,3,4]

In [29]:
list(zip(sayı_listesi,liste_1))

[(1, 'techpro'), (2, 'is'), (3, 'the'), (4, 'best')]

## enumerate()

In [30]:
liste_1

['techpro', 'is', 'the', 'best']

In [31]:
enumerate(liste_1)

In [32]:
list(enumerate(liste_1))

[(0, 'techpro'), (1, 'is'), (2, 'the'), (3, 'best')]

In [33]:
list(enumerate(liste_1, 1))

[(1, 'techpro'), (2, 'is'), (3, 'the'), (4, 'best')]

In [36]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [37]:
list(enumerate(liste_1, 100))

[(100, 'techpro'), (101, 'is'), (102, 'the'), (103, 'best')]

### soru1: en küçük ve en büyük sayılar arasındaki kayıp sayıları bulun. 
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [38]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [40]:
#yöntem1

kayıp_sayılar = []

for i in range(min(num), max(num)):

    if i not in num:
        kayıp_sayılar.append(i)

print(kayıp_sayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [ ]:
# yöntem2

kayıp_sayılar = []

for i in range(min(num), max(num)):

    if i in num:
        continue

    kayıp_sayılar.append(i)

print(kayıp_sayılar)

In [42]:
#yöntem3

full_set = set(range(min(num), max(num)))

num_set = set(num)

full_set - num_set

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [43]:
set(range(min(num), max(num))) - set(num)

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

# List Comprehension

In [44]:
liste_2 = [1,2,3,4,5]
empty_list = []
for i in liste_2:
    empty_list.append(i ** 2)

print(empty_list)

[1, 4, 9, 16, 25]

In [45]:
[i ** 2  for i in liste_2]

[1, 4, 9, 16, 25]

In [46]:
liste_3 = ["renault!", "fiat*", "ford?!"]
liste_3

['renault!', 'fiat*', 'ford?']

In [49]:
düzenlenmiş_liste = []
for i in liste_3:
    düzenlenmiş_liste.append(i.replace("!","").replace("*","").replace("?",""))

düzenlenmiş_liste

['renault', 'fiat', 'ford']

In [50]:
[i.replace("!","").replace("*","").replace("?","") for i in liste_3]

['renault', 'fiat', 'ford']

In [55]:
# çift olanları döndüren kodu yazın.
sayılar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

evens = []

for i in sayılar_listesi:

    if i % 2 == 0:
        evens.append(i)

print(evens)

[2, 36, 62, 52, 30, 56, 48]

In [56]:
[ i  for i in sayılar_listesi if i % 2 == 0]

[2, 36, 62, 52, 30, 56, 48]

In [57]:
[ i ** 2  for i in sayılar_listesi if i % 2 == 0]

[4, 1296, 3844, 2704, 900, 3136, 2304]

In [58]:
# çift olanlar yerinde olduğu gibi kalsın, tek olanların karesini yazdırın
sayılar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

result = []

for i in sayılar_listesi:

    if i % 2 == 0:
        result.append(i)
    else:
        result.append(i ** 2)

print(result)

[1, 225, 2, 36, 25, 7921, 2025, 62, 52, 5041, 30, 56, 2025, 9025, 3721, 48]

In [59]:
[ i  if i % 2 == 0 else  i ** 2  for i in sayılar_listesi ]

[1, 225, 2, 36, 25, 7921, 2025, 62, 52, 5041, 30, 56, 2025, 9025, 3721, 48]